// 后台框架尺寸
//菜单宽度
$NavMenu: 205px;
$NavMenuMin: 50px;
$layoutHeader:45px;
// 主题颜色
$mainColor: #f56c6c;

@mixin webkit($type,$value) {
  -webkit-#{$type}: $value;
  -moz-#{$type}: $value;
  -ms-#{$type}: $value;
  -o-#{$type}: $value;
  #{$type}: $value;
}